.post-banner {
  width: 100%;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.post-next {
  padding: 3em 1em;
  text-align: center;

  background-color: white;
  background-position: center;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  min-height: 320px;
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: rgba(0, 0, 0, 0.75);
  }

  .post-title {
    position: relative;
    font-size: 2.5rem;
    z-index: 2;

    a {
      color: white;
    }

    small {
      display: block;
      text-align: left;
      font-size: .8rem;
      color: $brand-primary;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
  }
}

article.blog-post {
  font-size: 1.2rem;
  line-height: 1.618;
  text-rendering: optimizeLegibility;
  p {
    color: $default-color;
  }
}

.collection-list {
  .active {
    &:before {
      margin-left: -1rem;
      margin-right: 0.4rem;
      content: "◦";
    }
  }
}