
.border-bottom {
  border-bottom: 1px solid $border-color;
}

img {
  max-width: 100%;
}

img.emoji {
  display: inline;
  height: 1.4em;
}

//
// Style: Code Blocks
//
pre {
    background: darken(white, 2%);
    padding: 1rem 1rem 1rem .75rem;
    code {
        counter-reset: line;
        span.line {
            &:before {
                counter-increment: line;
                content: counter(line);
                padding-right: 1rem;
                color: lighten(black, 80%);
                font-weight: lighter;
                user-select: none;
            }
        }
    }
}

//
// Style: Block Quotes
//

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}


//
// Style: Blog
//
.post-banner {
  width: 100%;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.post-next {
  padding: 3em 1em;
  text-align: center;

  background-color: white;
  background-position: center;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  min-height: 320px;
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: rgba(0, 0, 0, 0.75);
  }

  .post-title {
    position: relative;
    font-size: 2.5rem;
    z-index: 2;

    a {
      color: white;
    }

    small {
      display: block;
      text-align: left;
      font-size: .8rem;
      color: $brand-primary;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
  }
}

article.blog-post {
  font-size: 1.2rem;
  line-height: 1.618;
  text-rendering: optimizeLegibility;
  p {
    color: $default-color;
  }
}

.collection-list {
  .active {
    &:before {
      margin-left: -1rem;
      margin-right: 0.4rem;
      content: "◦";
    }
  }
}

//
// Style: Documentation
//
$color__salmon:         #ff574a !default;
$color__darker_salmon:  #e74430 !default;
$color__faint:          #f0f2f1 !default;
$color__gray:           #525252 !default;
$color__light_gray:     #aeaeae !default;
$color__lighter_gray:   #dee0df !default;
$color__teal:           #27b4a8 !default;

.docs article {
	padding: $spacer;

	ul {
		font-size: .875rem;
	}

	p {
		font-size: .9rem;
		line-height: 1.70;
	}

  h1 {
    font-size: 3rem;
    font-weight: lighter;
  }

	h1 + ul {
		margin: 0;
		padding: 0;
    padding-top: 2rem;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid $color__faint;

    &, ul {
  		list-style: none;
  		font-size: 1rem;
  		line-height: 1.5;
  		-webkit-font-smoothing: antialiased;
      color: lighten($color__salmon, 5%);
    }

		ul {
			padding-left: 1.25rem;
		}

		li {
			&:before {
				content: "# ";
				margin-right: .25em;
				color: $color__salmon;
			}
		}

    > ul {
      padding-left: 1.25rem;
    }
	}

	li > ul {
		font-size: .9375rem;
		font-weight: 400;
		list-style: none;
	}

	h2:first-of-type {
		margin-top: .9375rem;
	}

	h2 {
		font-size: 1.875rem;
		font-weight: 300;
		margin-top: 3.25rem;

		a,
		a:hover {
			color: $color__gray;
			text-decoration: none;
		}
		a:before {
			content: "#";
			margin-left: -1rem;
			font-size: 1.25rem;
			color: $color__salmon;
			opacity: .6;
		}
	}

	h3 {
		font-size: 1.5rem;
		font-weight: 400;
		margin-top: 2.75rem;
	}

	h4 {
		font-size: 1rem;
		font-weight: 700;
		margin-top: 2.25rem;
	}

	a {
		&:hover {
    	text-decoration: underline;
			color: darken($color__salmon, 10%);
		}
	}

	blockquote a:hover {
		color: lighten($color__salmon, 25%);
	}

	table {
		border-collapse: collapse;
		width: 100%;
		font-size: .875rem;
		th,
		td {
			border: 1px solid $color__lighter_gray;
			padding: $spacer-x;
			text-align: left;
		}
		th {
			font-size: 16px;
		}
	}

    blockquote {}
}

.docs-wrapper {
	overflow: hidden;
}

.docs .sidebar {

  h1 {
    font-size: 1.25rem;
    font-weight: normal;
  }

  h2 {
    font-size: .875rem;
    color: $color__light_gray;
    padding-bottom: .5rem;
    margin-bottom: .75rem;
		margin-top: 1.5rem;
    border-bottom: 1px dashed $color__lighter_gray;
  }

  ul {
    list-style: none;
    padding-left: 0;
    li {}

    a { color: lighten($color__salmon, 5%); }
  }
}

//
// Style: Projects
//
@each $tag, $color in $tags {
  .tag-#{$tag} {
    background-color: $color;
  }
}
